*{
    color: white;
}
.profile-cont{
   
    width: 100%;
    height: 30vh;
    border: 2px solid white;
    margin-top: 20px;
    border-radius: 15px;
    /* background-color: rgba(177, 172, 172, 0.479); */

}
.profile-logo{
    margin: 20px 0px 0px 20px;
}
.profile-cont h2{
     margin: 15px 0px 20px 20px;
     font-size: 40px;   
     
}
.profile-cont p{
    margin: 10px 0px 0px 20px;
    font-size: 20px;
}
.first-box{
    border-bottom: 3px solid grey;
    height: 35vh;
    margin-left: 20px;
    display: flex;
   
    justify-content: center;
   
}
.second-box{
    margin-left: 20px;
    margin-top: 10px;
    border-bottom: 3px solid grey;
    
    
    
}
.empElement{
    list-style: none;
    font-size: 25px;
}
.checkEmp{
    margin-right: 20px;
    font-size: 25px;
    border-radius: 50%;
}
.third-box{
    margin-left: 20px;
    margin-top: 10px;
}
